node_modules/
.next/
dist/
build/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv
*.egg-info/
.DS_Store
.env
.env.local
.env.*.local
.idea/
.vscode/
*.swp
*.swo
*~
.cache/
.pytest_cache/
runs/
*.pt
*.pth
*.onnx
roboflow_cache/
Assault_Snapshots/
node_modules/
.next/
.vs/
*.mp4
*.task
*.db
*.log
*.pyc
__pycache__/
useless/
yolo11n_openvino_model/
yolo11n_openvino_model/

*.mp4
.vs/
*.db
engine/
yolo11n_openvino_model/
